<!DOCTYPE html>
<html>
<head>
    <title>fqrouter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap-switch.css" rel="stylesheet" media="screen">
    <style type="text/css">
        th.sort-header {
            cursor: pointer;
        }

        th.sort-header::-moz-selection,
        th.sort-header::selection {
            background: transparent;
        }

        table th.sort-header:after {
            content: '';
            float: right;
            margin-top: 7px;
            border-width: 0 4px 4px;
            border-style: solid;
            border-color: #404040 transparent;
            visibility: hidden;
        }

        table th.sort-header:hover:after {
            visibility: visible;
        }

        table th.sort-up:after,
        table th.sort-down:after,
        table th.sort-down:hover:after {
            visibility: visible;
            opacity: 0.4;
        }

        table th.sort-up:after {
            border-bottom: none;
            border-width: 4px 4px 0;
        }

        table.portrait .tx-speed {
            display: none;
        }

        table.portrait .rx-speed {
            display: none;
        }

        body {
            margin-top: 16px;
        }

        #ajax-loader {
            background: url('/assets/ajax-loader.gif') center center no-repeat white;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: 10px;
            zoom: 1;
            filter: alpha(opacity=50);
            opacity: 0.5;
        }

    </style>
</head>
<body>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">{{ _('My Friends', '我的小伙伴们') }}</h3>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            fqrouter can share the uncensored internet to your friends via various ways.
            If it is running as root user, you can use any System built-in internet sharing methods to share
            uncensored internet, such as 3G portable hotspot, bluetooth, USB.
            Besides those built-in methods, fqrouter adds two additional ways to the list: Pick &amp; Play
            and Wifi Repeater. However, due to hardware or network limitation, they might not work for you.
            If fqrouter is not running as root user, then http proxy is only one way to share the uncensored internet.
            Right now, all sharing methods are limited to small range. In the future, fqrouter will allow you
            sharing over internet, then friends far away can also benefit from your kindness.
            """,
            """
            fqrouter可以通过好几种方式把翻墙网络共享给你的朋友们。
            如果是以ROOT权限运行的，你可以使用任意系统内置的互联网共享方式来共享翻墙网络，比如3G移动热点，蓝牙和USB。
            除了这些内置的方式，fqrouter还添加了两种办法：Pick &amp; Play和无线中继。然而，由于硬件和网络的限制，它们未必在你的环境下好使。
            如果fqrouter不是以ROOT权限运行的，那么HTTP代理是唯一的共享翻墙网络方式。现在所有的共享方式都局限在很小的范围内。
            将来fqrouter会提供面向互联网共享的方式，那时远方的朋友也可以享受到你提供的便利。
            """) }}
        </div>
    </div>
</div>
{% if is_root %}
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Pick & Play</h3>
            <button class="btn btn-primary pull-right" id="scan">{{ _('Scan', '扫描') }}</button>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            Scan the currently connected wifi network to discover your other devices (iphone, windows pc, etc).
            Pick any device from the list, then that device will route via fqrouter to access restricted website such as
            youtube or twitter.
            """,
            """
            扫描当前网络中的其他设备（iPhone，个人电脑等）。然后从扫描出来的列表中选取你希望翻墙的设备，这样那台设备就可以通过fqrouter翻墙了。
            """) }}
        </div>
    </div>
</div>
<div class="col-sm-12 hide" id="lan-devices">
    <div class="panel panel-default">
        <div class="panel-body" style="position: relative;">
            <div id="ajax-loader" class="hide"></div>
            <table class="table table-striped" style="margin-bottom: 0;">
                <thead>
                <tr>
                    <th>{{ _('ip', 'ip') }}</th>
                    <th>{{ _('hostname', '机器名') }}</th>
                    <th class="no-sort">{{ _('picked', '已选中') }}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">{{ _('Remote Access', '远程访问') }}</h3>
            <a data-toggle="modal" href="#http-manager-dialog" class="btn btn-default pull-right" id="config-http-manager">
                {{ _('Config', '配置') }}
            </a>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            This page can also be accessed within the same local area network (LAN).
            """,
            """
            本页面可以在同一个局域网内的其他机器上访问。
            """) }}
            <div style="margin-top: 8px;">
                <label class="label label-info" style="font-size: 16px; ">
                    http://{{ default_interface_ip }}:{{ httpd.LISTEN_PORT }}
                </label>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="http-manager-dialog" tabindex="-1" role="dialog"
     aria-labelledby="http-manager-dialog-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="http-manager-dialog-title">
                    {{ _('Configure Remote Access', '配置远程访问') }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hide"></div>
                <form role="form">
                    <div class="form-group">
                        <label for="http-manager-port">{{ _('Port', '端口') }}</label>
                        <input type="text" class="form-control" id="http-manager-port" value="{{ httpd.LISTEN_PORT }}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="http-manager-dialog-save">保存改动</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">{{ _('HTTP Proxy', 'HTTP代理') }}</h3>
            <div class="make-switch pull-right" data-on="success" data-off="default" id="http-gateway-switch">
                <input type="checkbox" {{ 'checked="checked"' if http_gateway.server_greenlet else '' }}>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            Share uncensored internet to friends nearby (within the same local area network). They just need to set http proxy in their device
            to the following values. If you do not know what is this about, just google for it :
            """,
            """
            把翻墙网络共享给周围的朋友（同一个局域网内）。TA们只需要把设备上的HTTP代理设置为下面的值就可以了。搞不明白的朋友请自行Google：
            """) }}
            <ul class="list-group" style="margin-top: 8px; margin-bottom: 0;">
                <li class="list-group-item">
                    <label class="label label-default">HTTP</label>
                    <label class="label label-info" style="font-size: 16px;">{{ default_interface_ip }}:{{ http_gateway.LISTEN_PORT }}</label>
                </li>
                <li class="list-group-item">
                    <label class="label label-default">PAC</label>
                    <label class="label label-info" style="font-size: 16px;">http://{{ default_interface_ip }}:{{ httpd.LISTEN_PORT }}/pac</label>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>
<script src="/assets/tablesort.min.js"></script>
<script src="/assets/visibility.core.js"></script>
<script src="/assets/visibility.timer.js"></script>
<script src="/assets/bootstrap-switch.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var tablesort = new Tablesort($('#lan-devices table')[0]);

        var timerId;

        function refreshLanDevices() {
            $.get('/lan/devices', function (html) {
                if ($(html).find('tr').length == 0) {
                    return;
                }
                $('#lan-devices').removeClass('hide');
                $('#lan-devices tbody').replaceWith(html);
                tablesort.refresh();
                if ($('#lan-devices tbody').data('isScanCompleted')) {
                    $('#ajax-loader').addClass('hide');
                    Visibility.stop(timerId);
                    timerId = null;
                }
            });
        }
        refreshLanDevices();

        $('#lan-devices').on('click', 'tr input[type=checkbox]', function () {
            var ip = $(this).parents('tr').data('ip');
            $.post('/lan/update', {ip: ip, is_picked: $(this).is(':checked')}, function () {
                refreshLanDevices();
            });
        });

        $('#scan').click(function () {
            $('#lan-devices').removeClass('hide');
            $('#ajax-loader').removeClass('hide');
            $.post('/lan/scan');
            refreshLanDevices();
            if (!timerId) {
                timerId = Visibility.every(1000, refreshLanDevices);
            }
        });

        $('#http-gateway-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/http-gateway/enable');
            } else {
                $.post('/http-gateway/disable');
            }
        });

        $('#http-manager-dialog-save').click(function() {
            $('#http-manager-dialog form').submit();
        });
        $('#http-manager-dialog form').submit(function(e) {
            e.preventDefault();
            var newConfig = {
                port: $('#http-manager-port').val()
            };
            $.post('/http-manager/config/validate', newConfig, function(error) {
                if (error) {
                    $('#http-manager-dialog .alert').html(error).removeClass('hide');
                } else {
                    $('#http-manager-dialog .alert').addClass('hide');
                    $.post('/http-manager/config/update', newConfig, function(error) {
                        if (error) {
                            $('#http-manager-dialog .alert').html(error).removeClass('hide');
                        } else {
                            window.location.href = 'http://{{ default_interface_ip }}:' + newConfig.port + '/downstream';
                        }
                    });
                }
            });
        });
    });
</script>
</body>
</html>