<!DOCTYPE html>
<html>
<head>
    <title>fqrouter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap-switch.css" rel="stylesheet" media="screen">
    <style type="text/css">
        th.sort-header {
            cursor: pointer;
        }

        th.sort-header::-moz-selection,
        th.sort-header::selection {
            background: transparent;
        }

        table th.sort-header:after {
            content: '';
            float: right;
            margin-top: 7px;
            border-width: 0 4px 4px;
            border-style: solid;
            border-color: #404040 transparent;
            visibility: hidden;
        }

        table th.sort-header:hover:after {
            visibility: visible;
        }

        table th.sort-up:after,
        table th.sort-down:after,
        table th.sort-down:hover:after {
            visibility: visible;
            opacity: 0.4;
        }

        table th.sort-up:after {
            border-bottom: none;
            border-width: 4px 4px 0;
        }

        table.portrait .tx-speed {
            display: none;
        }

        table.portrait .rx-speed {
            display: none;
        }

        body {
            margin-top: 16px;
        }

        #proxy-dialog .input-group {
            width: 100%;
        }

        #proxy-dialog .input-group-addon {
            width: 128px;
        }

        #proxy-dialog.add-mode .add-mode {
            display: inline-block;
        }

        #proxy-dialog.add-mode .update-mode {
            display: none;
        }

        #proxy-dialog.update-mode .add-mode {
            display: none;
        }

        #proxy-dialog.update-mode .update-mode {
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container">


    <div class="row">
        <div class="col-xs-6">
            <h3>
                {{ _('Remote Access', '远程访问') }}
            </h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right" style="margin-top: 20px;">
                <a data-toggle="modal" href="#http-manager-dialog" class="btn btn-default pull-right"
                   id="config-http-manager">
                    {{ _('Config', '配置') }}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ _(
            """
            This page can also be accessed within the same local area network (LAN).
            """,
            """
            本页面可以在同一个局域网内的其他机器上访问。
            """) }}
            <div style="margin-top: 8px;">
                <label class="label label-info" style="font-size: 16px; ">
                    http://{{ default_interface_ip }}:{{ httpd.LISTEN_PORT }}
                </label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-6">
            <h3>
                {{ _('Proxies', '代理列表') }}
            </h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right" style="margin-top: 20px;">
            <a data-toggle="modal" href="#proxies-dialog" class="btn btn-default" id="config-proxies">
            {{ _('Configure', '配置') }}
            </a>
            <a id="show-add-proxy" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                {{ _('Add', '添加') }}
            </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped" id="proxies">
                <thead>
                <tr>
                    <th>{{ _('proxy', '代理') }}</th>
                    <th class="rx-speed">{{ _('download', '下载') }}</th>
                    <th>{{ _('download', '下载') }}</th>
                    <th class="tx-speed">{{ _('upload', '上传') }}</th>
                    <th>{{ _('upload', '上传') }}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-6">
            <h3>
                {{ _('HTTP Proxy', 'HTTP代理') }}
            </h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right" style="margin-top: 20px;">
                <a data-toggle="modal" href="#http-gateway-dialog" class="btn btn-default" id="config-http-gateway">
                    {{ _('Config', '配置') }}
                </a>

                <div class="make-switch" data-on="success" data-off="default" id="http-gateway-switch">
                    <input type="checkbox" {{ 'checked="checked"' if http_gateway.server_greenlet else '' }}>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ _(
            """
            Share uncensored internet to friends nearby (within the same local area network). They just need to set http
            proxy in their device
            to the following values. If you do not know what is this about, just google for it :
            """,
            """
            把翻墙网络共享给周围的朋友（同一个局域网内）。TA们只需要把设备上的HTTP代理设置为下面的值就可以了。搞不明白的朋友请自行Google：
            """) }}
            <ul class="list-group" style="margin-top: 8px; margin-bottom: 0;">
                <li class="list-group-item">
                    <label class="label label-default">HTTP</label>
                    <label class="label label-info" style="font-size: 16px;">{{ default_interface_ip }}:{{
                        http_gateway.LISTEN_PORT }}</label>
                </li>
                <li class="list-group-item">
                    <label class="label label-default">PAC</label>
                    <label class="label label-info" style="font-size: 16px;">http://{{ default_interface_ip }}:{{
                        httpd.LISTEN_PORT }}/pac</label>
                </li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-6">
            <h3>
                Pick &amp; Play
            </h3>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary pull-right" style="margin-top: 20px;" id="scan">{{ _('Scan', '扫描') }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ _(
            """
            Scan the currently connected wifi network to discover your other devices (iphone, windows pc, etc).
            Pick any device from the list, then that device will route via fqrouter to access restricted website such as
            youtube or twitter.
            """,
            """
            扫描当前网络中的其他设备（iPhone，个人电脑等）。然后从扫描出来的列表中选取你希望翻墙的设备，这样那台设备就可以通过fqrouter翻墙了。
            """) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 hide" id="lan-devices">
            <div class="busy-indicator" class="hide"></div>
            <table class="table table-striped" style="margin-bottom: 0;">
                <thead>
                <tr>
                    <th>{{ _('ip', 'ip') }}</th>
                    <th>{{ _('hostname', '机器名') }}</th>
                    <th class="no-sort">{{ _('picked', '已选中') }}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <hr/>
</div>

<!-- Modal -->
<div class="modal fade add-mode" id="proxy-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title add-mode">
                    {{ _('Add Proxy', '添加代理') }}
                </h4>
                <h4 class="modal-title update-mode">
                    {{ _('Update Proxy', '更新代理') }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hide"></div>
                <form role="form">
                    <div class="form-group">
                        <label>{{ _('Proxy Type', '代理类型') }}</label>
                        <select name="proxy_type" class="form-control">
                            <option value="">{{ _('Please Select...','请选择...') }}</option>
                            <option value="GoAgent">GoAgent</option>
                            <option value="Shadowsocks">Shadowsocks</option>
                            <option value="SSH">SSH</option>
                            <option value="HTTP">HTTP</option>
                            <option value="SPDY">SPDY</option>
                        </select>
                    </div>
                    <div class="basic">
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="GoAgent">
                                <span class="input-group-addon">App Id</span>
                                <input name="appid" type="text" class="form-control"
                                       placeholder="{{ _('xxx of xxx.appspot.com', 'xxx.appspot.com中的xxx') }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="SSH,Shadowsocks,HTTP,SPDY">
                                <span class="input-group-addon">{{ _('Host', '主机') }}</span>
                                <input name="host" type="text" class="form-control"
                                       placeholder="{{ _('ip or domain', 'ip 或者域名') }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="SSH,Shadowsocks,HTTP,SPDY">
                                <span class="input-group-addon">{{ _('Port', '端口') }}</span>
                                <input name="port" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="SSH,HTTP,SPDY">
                                <span class="input-group-addon">{{ _('User Name', '用户名') }}</span>
                                <input name="username" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="SSH,Shadowsocks,HTTP,SPDY">
                                <span class="input-group-addon">{{ _('Password', '密码') }}</span>
                                <input name="password" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="SSH">
                                {{ _("""
                                leave password empty if you are using private key authentication. put private key at
                                """, """
                                如果你想要使用私钥认证就不要填密码，然后把私钥上传到
                                """) }}
                                <span id="ssh-host"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="Shadowsocks">
                                <span class="input-group-addon">{{ _('Encrypt Method', '加密方式') }}</span>
                                <select name="encrypt_method"  class="form-control">
                                    {% for m in ["table", "rc4", "aes-128-cfb", "aes-192-cfb", "aes-256-cfb", "bf-cfb",
                                    "camellia-128-cfb", "camellia-192-cfb", "camellia-256-cfb", "cast5-cfb",
                                    "des-cfb", "idea-cfb", "rc2-cfb", "seed-cfb"] %}
                                    <option value="{{ m }}">{{ m }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group hide advanced-toggle">
                        <button type="button" class="btn btn-default pull-right">
                            {{ _('Advanced Settings', '高级设置') }}
                            <span class="glyphicon glyphicon-collapse-down"></span>
                        </button>
                        <div style="clear: both"></div>
                    </div>
                    <div class="advanced hide">
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="GoAgent">
                                <span class="input-group-addon">{{ _('Path', '路径') }}</span>
                                <input name="path" type="text" class="form-control" value="/2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="GoAgent">
                                <span class="input-group-addon">{{ _('Password', '密码') }}</span>
                                <input name="goagent_password" type="text" class="form-control"
                                       placeholder="{{ _('No password by default', '缺省无密码') }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="HTTP,SPDY">
                                <span class="input-group-addon">{{ _('Traffic Type', '可以代理的内容') }}</span>
                                <select name="traffic_type" class="form-control">
                                    <option value="HTTP/HTTPS">HTTP/HTTPS</option>
                                    <option value="HTTP">HTTP</option>
                                    <option value="HTTPS">HTTPS</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="HTTP">
                                <span class="input-group-addon">{{ _('Transport Type', '代理连接方式') }}</span>
                                <select name="transport_type" class="form-control">
                                    <option value="HTTP">HTTP</option>
                                    <option value="SSL">HTTPS (shrpx, stunnel)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group hide" data-for-type="SSH,SPDY">
                                <span class="input-group-addon">{{ _('Connections Count', '连接数量') }}</span>
                                <input name="connections_count" type="text" class="form-control" value="4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger update-mode pull-left" id="delete-proxy">{{ _('Delete', '删除') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close', '关闭') }}</button>
                <button class="btn btn-primary add-mode" id="add-proxy">{{ _('Add', '添加') }}</button>
                <button class="btn btn-primary update-mode" id="update-proxy">{{ _('Update', '更新') }}</button>
            </div>
        </div>
    </div>


</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="proxies-dialog" tabindex="-1" role="dialog"
     aria-labelledby="proxies-dialog-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="proxies-dialog-title">
                    {{ _('Configure Proxies', '配置代理') }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hide"></div>
                <form role="form">
                    <div class="form-group">
                        <label for="goagent-public-servers-switch">{{ _('GoAgent Public Servers', 'GoAgent 公共代理')
                            }}</label>

                        <div class="make-switch pull-right" data-on="success" data-off="default"
                             id="goagent-public-servers-switch">
                            <input type="checkbox" {{ 'checked="checked"' if config['public_servers']['goagent_enabled']
                            else '' }}>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ _('goagent appids shared by others, especially thanks the gfanqiang', '由网友共享的goagent
                        appid，尤其是要感谢gfanqiang项目') }}
                    </div>
                    <div class="form-group">
                        <label for="ss-public-servers-switch">{{ _('Shadowsocks Public Servers', 'Shadowsocks 公共代理')
                            }}</label>

                        <div class="make-switch pull-right" data-on="success" data-off="default"
                             id="ss-public-servers-switch">
                            <input type="checkbox" {{ 'checked="checked"' if config['public_servers']['ss_enabled'] else
                            '' }}>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ _('shadowsocks servers shared by others', '由网友共享的代理帐号') }}
                    </div>
                    <div class="form-group advanced-toggle">
                        <button type="button" class="btn btn-default pull-right">
                            {{ _('Advanced Settings', '高级设置') }}
                            <span class="glyphicon glyphicon-collapse-down"></span>
                        </button>
                        <div style="clear: both"></div>
                    </div>
                    <div class="advanced hide">
                        <div class="form-group">
                            <label for="tcp-scrambler-switch">{{ _('TCP Scrambler', 'TCP 混淆器') }}</label>

                            <div class="make-switch pull-right" data-on="success" data-off="default"
                                 id="tcp-scrambler-switch">
                                <input type="checkbox" {{ 'checked="checked"' if tcp_scrambler_enabled else '' }}>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ _(
                            """
                            scramble HTTP request at TCP level, so that GFW can let us go, without using a proxy
                            server. disable this scrambler will make internet speed much slower!
                            """,
                            """
                            混淆 TCP 层面混淆HTTP请求迷惑 GFW，这样就不用走代理了。禁用此选项会使得网速慢很多！
                            """) }}
                        </div>
                        <div class="form-group">
                            <label for="youtube-scrambler-switch">{{ _('Youtube Scrambler', 'Youtube 混淆器') }}</label>

                            <div class="make-switch pull-right" data-on="success" data-off="default"
                                 id="youtube-scrambler-switch">
                                <input type="checkbox" {{ 'checked="checked"' if youtube_scrambler_enabled else '' }}>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ _(
                            """
                            scramble youtube traffic, so that GFW can let us go, without using a proxy. disable this
                            scrambler will make internet speed much slower!
                            """,
                            """
                            混淆 Youtube 流量迷惑 GFW，这样就不用走代理了。禁用此选项会使得网速慢很多！
                            """) }}
                        </div>
                        <div class="form-group">
                            <label for="china-shortcut-switch">{{ _('China Shortcut', '直连中国的服务器') }}</label>

                            <div class="make-switch pull-right" data-on="success" data-off="default"
                                 id="china-shortcut-switch">
                                <input type="checkbox" {{ 'checked="checked"' if china_shortcut_enabled else '' }}>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ _(
                            """
                            if server is china ip, access directly. disable this shortcut will make internet speed much
                            slower!
                            """,
                            """
                            如果服务器的IP是中国的，就不走代理。禁用此选项会使得网速慢很多！
                            """) }}
                        </div>
                        <div class="form-group">
                            <label for="direct-access-switch">{{ _('Direct Access', '直接可以直连的服务器') }}</label>

                            <div class="make-switch pull-right" data-on="success" data-off="default"
                                 id="direct-access-switch">
                                <input type="checkbox" {{ 'checked="checked"' if direct_access_enabled else '' }}>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ _(
                            """
                            try access directly first, use proxy only if tried and failed. disable this shortcut will make
                            internet speed much slower!
                            """,
                            """
                            每个连接先尝试直连，只在不得不走代理的时候才走代理。禁用此选项会使得网速慢很多！
                            """) }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close', '关闭') }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="http-manager-dialog" tabindex="-1" role="dialog"
     aria-labelledby="http-manager-dialog-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="http-manager-dialog-title">
                    {{ _('Configure Remote Access', '配置远程访问') }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hide"></div>
                <form role="form">
                    <div class="form-group">
                        <label for="http-manager-port">{{ _('Port', '端口') }}</label>
                        <input type="text" class="form-control" id="http-manager-port" value="{{ httpd.LISTEN_PORT }}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close', '关闭') }}</button>
                <button type="button" class="btn btn-primary" id="http-manager-dialog-save">{{ _('Save', '保存') }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="http-gateway-dialog" tabindex="-1" role="dialog"
     aria-labelledby="http-gateway-dialog-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="http-gateway-dialog-title">
                    {{ _('Configure Remote Access', '配置HTTP代理') }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hide"></div>
                <form role="form">
                    <div class="form-group">
                        <label for="http-gateway-port">{{ _('Port', '端口') }}</label>
                        <input type="text" class="form-control" id="http-gateway-port"
                               value="{{ http_gateway.LISTEN_PORT }}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close', '关闭') }}</button>
                <button type="button" class="btn btn-primary" id="http-gateway-dialog-save">{{ _('Save', '保存') }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>
<script src="/assets/tablesort.min.js"></script>
<script src="/assets/visibility.core.js"></script>
<script src="/assets/visibility.timer.js"></script>
<script src="/assets/bootstrap-switch.js"></script>
<script>
    $(document).ready(function () {

        var proxies_tablesort = new Tablesort($('#proxies')[0]);

        function showHideSpeed() {
            if (typeof(this.orientation) === "undefined" || window.orientation == -90 || window.orientation == 90) {
                $('#proxies').removeClass('portrait');
            } else {
                $('#proxies').addClass('portrait');
            }
        }

        function refreshProxyList() {
            $('#proxies tbody').load('/proxies?list-only=True', function () {
                proxies_tablesort.refresh();
            });
        }

        function selectedProxyType(proxyType) {
            $('#proxy-dialog .alert').addClass('hide');
            $('#proxy-dialog .advanced-toggle').addClass('hide');
            $('#proxy-dialog [data-for-type]').each(function(i, $input) {
                var $input = $($input);
                if (proxyType && $input.data('forType').indexOf(proxyType) >= 0) {
                    $input.removeClass('hide');
                    if ($input.parents('.advanced').length > 0) {
                        $('#proxy-dialog .advanced-toggle').removeClass('hide');
                    }
                } else {
                    $input.addClass('hide');
                }
            });
        }

        $(window).bind('orientationchange', function () {
            showHideSpeed();
        });

        $('#proxies').on('click', 'button.proxy', function() {
            var proxyId = $(this).data('proxyId');
            if (proxyId) {
                $('#proxy-dialog .alert').addClass('hide');
                $('#proxy-dialog form')[0].reset();
                $.get('/proxy?proxy_id=' + proxyId, function(proxy) {
                    for (var k in proxy.properties) {
                        $('#proxy-dialog [name=' + k +  ']').val(proxy.properties[k]);
                    }
                    selectedProxyType(proxy.proxy_type);
                    $('#proxy-dialog').data('proxyId', proxy.proxy_id);
                    $('#proxy-dialog').removeClass('add-mode').addClass('update-mode');
                    $('#proxy-dialog').modal('show');
                });
            } else {
                $('#proxies-dialog').modal('show');
            }
        });

        $('#goagent-public-servers-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/goagent-public-servers/enable');
            } else {
                $.post('/goagent-public-servers/disable');
            }
        });

        $('#ss-public-servers-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/ss-public-servers/enable');
            } else {
                $.post('/ss-public-servers/disable');
            }
        });

        $('#tcp-scrambler-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/tcp-scrambler/enable');
            } else {
                $.post('/tcp-scrambler/disable');
            }
        });

        $('#youtube-scrambler-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/youtube-scrambler/enable');
            } else {
                $.post('/youtube-scrambler/disable');
            }
        });

        $('#china-shortcut-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/china-shortcut/enable');
            } else {
                $.post('/china-shortcut/disable');
            }
        });

        $('#direct-access-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/direct-access/enable');
            } else {
                $.post('/direct-access/disable');
            }
        });

        $('#show-add-proxy').click(function() {
            $('#proxy-dialog .alert').addClass('hide');
            $('#proxy-dialog form')[0].reset();
            selectedProxyType("{{ _('Please Select...', '请选择...') }}");
            $('#proxy-dialog').data('proxyId', '');
            $('#proxy-dialog').removeClass('update-mode').addClass('add-mode');
            $('#proxy-dialog').modal('show');
        });

        $('#proxy-dialog [name=host]').blur(function() {
            $('#proxy-dialog #ssh-host').html('/data/data/fq.router2/etc/ssh/' + $(this).val());
        });

        $('#proxy-dialog [name=proxy_type]').change(function () {
            var proxyType = $(this).val();
            selectedProxyType(proxyType);
        });

        $('#proxy-dialog .advanced-toggle button').click(function() {
            if ($('#proxy-dialog .advanced').hasClass('hide')) {
                $('#proxy-dialog .advanced').removeClass('hide');
                $(this).find('span').removeClass('glyphicon-collapse-down').addClass('glyphicon-collapse-up');
            } else {
                $('#proxy-dialog .advanced').addClass('hide');
                $(this).find('span').removeClass('glyphicon-collapse-up').addClass('glyphicon-collapse-down');
            }
        });

        $('#proxies-dialog .advanced-toggle button').click(function() {
            if ($('#proxies-dialog .advanced').hasClass('hide')) {
                $('#proxies-dialog .advanced').removeClass('hide');
                $(this).find('span').removeClass('glyphicon-collapse-down').addClass('glyphicon-collapse-up');
            } else {
                $('#proxies-dialog .advanced').addClass('hide');
                $(this).find('span').removeClass('glyphicon-collapse-up').addClass('glyphicon-collapse-down');
            }
        });

        $('#proxy-dialog #add-proxy').click(function() {
            var args = {};
            $('#proxy-dialog input,select').each(function(i, $input) {
                $input = $($input);
                args[$input.attr('name')] = $input.val();
            });
            if (!args.proxy_type) {
                $('#proxy-dialog .alert').html("{{ _('Please select proxy type', '请选择代理类型') }}");
                $('#proxy-dialog .alert').removeClass('hide');
                return;
            }
            $.post('/proxies/add', args, function(error) {
                if (error) {
                    $('#proxy-dialog .alert').html(error);
                    $('#proxy-dialog .alert').removeClass('hide');
                } else {
                    $('#proxy-dialog').modal('hide');
                }
            });
        });

        $('#proxy-dialog #update-proxy').click(function() {
            var args = {
                proxy_id: $('#proxy-dialog').data('proxyId'),
                proxy_type: $('#proxy-dialog #proxy-type').html()
            };
            $('#proxy-dialog input,select').each(function(i, $input) {
                $input = $($input);
                args[$input.attr('name')] = $input.val();
            });
            $.post('/proxies/update', args, function(error) {
                if (error) {
                    $('#proxy-dialog .alert').html(error);
                    $('#proxy-dialog .alert').removeClass('hide');
                } else {
                    $('#proxy-dialog').modal('hide');
                }
            });
        });

        $('#proxy-dialog #delete-proxy').click(function() {
            $.post('/proxies/delete?proxy_id=' + $('#proxy-dialog').data('proxyId'), function() {
                $('#proxy-dialog').modal('hide');
            });
        });

        $('#http-manager-dialog-save').click(function () {
            $('#http-manager-dialog form').submit();
        });

        $('#http-manager-dialog form').submit(function (e) {
            e.preventDefault();
            var newConfig = {
                port: $('#http-manager-port').val()
            };
            $.post('/http-manager/config/update', newConfig, function (error) {
                if (error) {
                    $('#http-manager-dialog .alert').html(error).removeClass('hide');
                } else {
                    window.location.href = 'http://{{ default_interface_ip }}:' + newConfig.port;
                }
            });
        });

        $('#http-gateway-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/http-gateway/enable');
            } else {
                $.post('/http-gateway/disable');
            }
        });

        $('#http-gateway-dialog-save').click(function () {
            $('#http-gateway-dialog form').submit();
        });

        $('#http-gateway-dialog form').submit(function (e) {
            e.preventDefault();
            var newConfig = {
                port: $('#http-gateway-port').val()
            };
            $.post('/http-gateway/config/update', newConfig, function (error) {
                if (error) {
                    $('#http-gateway-dialog .alert').html(error).removeClass('hide');
                } else {
                    window.location.reload();
                }
            });
        });

        var lan_tablesort = new Tablesort($('#lan-devices table')[0]);

        var timerId;

        function refreshLanDevices() {
            $.get('/lan/devices', function (html) {
                if ($(html).find('tr').length == 0) {
                    return;
                }
                $('#lan-devices').removeClass('hide');
                $('#lan-devices tbody').replaceWith(html);
                lan_tablesort.refresh();
                if ($('#lan-devices tbody').data('isScanCompleted')) {
                    $('#lan-devices .busy-indicator').addClass('hide');
                    Visibility.stop(timerId);
                    timerId = null;
                }
            });
        }

        $('#lan-devices').on('click', 'tr input[type=checkbox]', function () {
            var ip = $(this).parents('tr').data('ip');
            $.post('/lan/update', {ip: ip, is_picked: $(this).is(':checked')}, function () {
                refreshLanDevices();
            });
        });

        $('#scan').click(function () {
            $('#lan-devices').removeClass('hide');
            $('#lan-devices .busy-indicator').removeClass('hide');
            $.post('/lan/scan');
            refreshLanDevices();
            if (!timerId) {
                timerId = Visibility.every(1000, refreshLanDevices);
            }
        });


        refreshLanDevices();
        showHideSpeed();
        refreshProxyList();
        Visibility.every(1000, refreshProxyList);
    });
</script>
</body>
</html>