<!DOCTYPE html>
<html>
<head>
    <title>fqrouter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
            margin: 8px;
        }
    </style>
</head>
<body>
<ul class="nav nav-tabs">
    <li><a href="/proxies">{{ _('Proxies', '状态') }}</a></li>
    <li><a href="/friends">{{ _('Friends', '我的小伙伴们') }}</a></li>
    <li class="active"><a href="javascript:void(0);">{{ _('Remote Access', '远程访问') }}</a></li>
</ul>
<p style="font-size: 24px; margin: 24px;">
    {% if default_interface_ip %}
    http://{{ default_interface_ip }}:2515
    {% else %}
    Not Available
    {% endif %}
</p>
{% if default_interface_ip %}
<hr/>
<dl>
    <dt>PAC file</dt>
    <dd>http://{{ default_interface_ip }}:2515/pac</dd>
    <dt>Http Proxy</dt>
    <dd>http://{{ default_interface_ip }}:2516</dd>
</dl>
{% endif %}
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
</body>
</html>