<!DOCTYPE html>
<html>
<head>
    <title>fqrouter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
            margin: 8px;
        }
    </style>
</head>
<body>
<ul class="nav nav-tabs">
    <li><a href="/proxies">Proxies</a></li>
    <li class="active"><a href="javascript:void(0);">Remote Access</a></li>
</ul>
<p style="font-size: 24px; margin: 24px;">
    {% if default_interface_ip %}
    http://{{ default_interface_ip }}:2515
    {% else %}
    Not Available
    {% endif %}
</p>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
</body>
</html>