<!DOCTYPE html>
<html>
<head>
    <title>fqrouter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/assets/bootstrap-switch.css" rel="stylesheet" media="screen">
    <style type="text/css">
        th.sort-header {
            cursor: pointer;
        }

        th.sort-header::-moz-selection,
        th.sort-header::selection {
            background: transparent;
        }

        table th.sort-header:after {
            content: '';
            float: right;
            margin-top: 7px;
            border-width: 0 4px 4px;
            border-style: solid;
            border-color: #404040 transparent;
            visibility: hidden;
        }

        table th.sort-header:hover:after {
            visibility: visible;
        }

        table th.sort-up:after,
        table th.sort-down:after,
        table th.sort-down:hover:after {
            visibility: visible;
            opacity: 0.4;
        }

        table th.sort-up:after {
            border-bottom: none;
            border-width: 4px 4px 0;
        }

        table.portrait .tx-speed {
            display: none;
        }

        table.portrait .rx-speed {
            display: none;
        }

        body {
            margin-top: 16px;
        }
    </style>
</head>
<body>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">{{ _('Uncensored Internet', '墙外的世界') }}</h3>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            fqrouter is designed to minimize the server usage to maximize
            the number of users who can enjoy the benefit.
            The methods used to archive the goal including direct access any China ip,
            direct access any website that is not blocked, and using scrambler
            to scramble the traffic to avoid being censored instead of always tunnelling
            via proxy servers.
            Despite all those efforts, proxy servers are still very necessary.
            Builtin public servers have limited bandwidth and they are slow.
            If you have private proxy servers, please add your own.
            """,
            """
            fqrouter的设计理念是尽量减少对服务器资源的消耗以尽可能地扩大受益用户的数量。
            使用的手段包括对于中国的IP不走代理，如果目标服务器可以直接访问则不会走代理
            以及尽量采用混淆流量的技术从而能够不经过代理也不会被阻断。
            即便如此，代理服务器仍然是必要的。默认内置的公共代理流量有限，而且速度不佳。
            如果个人有代理服务器，最好使用自己的代理服务器。
            """) }}
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">
                {{ _('Proxies', '代理列表') }}
            </h3>
            <div class="pull-right">
                <a data-toggle="modal" href="#proxies-dialog" class="btn btn-default"
                   id="config-http-manager">
                    {{ _('Config', '配置') }}
                </a>
                <div class="make-switch" data-on="success" data-off="default" id="proxies-switch">
                    <input type="checkbox" {{ 'checked="checked"' if proxies_enabled else '' }}>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="panel-body">
            <table class="table table-striped" id="proxies">
                <thead>
                <tr>
                    <th>{{ _('proxy', '代理') }}</th>
                    <th class="rx-speed">{{ _('download', '下载') }}</th>
                    <th>{{ _('download', '下载') }}</th>
                    <th class="tx-speed">{{ _('upload', '上传') }}</th>
                    <th>{{ _('upload', '上传') }}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">
                {{ _('TCP Scrambler', 'TCP 混淆器') }}
            </h3>
            <div class="make-switch pull-right" data-on="success" data-off="default" id="tcp-scrambler-switch">
                <input type="checkbox" {{ 'checked="checked"' if tcp_scrambler_enabled else '' }}>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            scramble HTTP request at TCP level, so that GFW can let us go, without using a proxy
            server. disable this scrambler will make internet speed much slower!
            """,
            """
            混淆 TCP 层面混淆HTTP请求迷惑 GFW，这样就不用走代理了。禁用此选项会使得网速慢很多！
            """) }}
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline;">
                {{ _('Youtube Scrambler', 'Youtube 混淆器') }}
            </h3>
            <div class="make-switch pull-right" data-on="success" data-off="default" id="youtube-scrambler-switch">
                <input type="checkbox" {{ 'checked="checked"' if youtube_scrambler_enabled else '' }}>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            scramble youtube traffic, so that GFW can let us go, without using a proxy. disable this scrambler will make internet speed much slower!
            """,
            """
            混淆 Youtube 流量迷惑 GFW，这样就不用走代理了。禁用此选项会使得网速慢很多！
            """) }}
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline;">
                {{ _('China Shortcut', '直连中国的服务器') }}
            </h3>
            <div class="make-switch pull-right" data-on="success" data-off="default" id="china-shortcut-switch">
                <input type="checkbox" {{ 'checked="checked"' if china_shortcut_enabled else '' }}>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            if server is china ip, access directly. disable this shortcut will make internet speed much slower!
            """,
            """
            如果服务器的IP是中国的，就不走代理。禁用此选项会使得网速慢很多！
            """) }}
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline;">
                {{ _('Direct Access', '直接可以直连的服务器') }}
            </h3>
            <div class="make-switch pull-right" data-on="success" data-off="default" id="direct-access-switch">
                <input type="checkbox" {{ 'checked="checked"' if direct_access_enabled else '' }}>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="panel-body">
            {{ _(
            """
            try access directly first, use proxy only if tried and failed. disable this shortcut will make internet speed much slower!
            """,
            """
            每个连接先尝试直连，只在不得不走代理的时候才走代理。禁用此选项会使得网速慢很多！
            """) }}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="proxies-dialog" tabindex="-1" role="dialog"
     aria-labelledby="proxies-dialog-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="proxies-dialog-title">
                    {{ _('Configure Proxies', '配置代理') }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hide"></div>
                <form role="form">
                    <div class="form-group">
                        <label for="goagent-public-servers-switch">{{ _('GoAgent Public Servers', 'GoAgent 公共代理') }}</label>
                        <div class="make-switch pull-right" data-on="success" data-off="default" id="goagent-public-servers-switch">
                            <input type="checkbox" {{ 'checked="checked"' if config['public_servers']['goagent_enabled'] else '' }}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-goagent-private-server">{{ _('GoAgent Private Server', 'GoAgent 个人代理') }}</label>
                        <button type="button" id="add-goagent-private-server" class="btn btn-default pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                            {{ _('Add', '添加') }}
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="ss-public-servers-switch">{{ _('Shadowsocks Public Servers', 'Shadowsocks 公共代理') }}</label>
                        <div class="make-switch pull-right" data-on="success" data-off="default" id="ss-public-servers-switch">
                            <input type="checkbox" {{ 'checked="checked"' if config['public_servers']['ss_enabled'] else '' }}>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close', '关闭') }}</button>
                <button type="button" class="btn btn-primary" id="proxies-dialog-save">{{ _('Save', '保存') }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>
<script src="/assets/tablesort.min.js"></script>
<script src="/assets/visibility.core.js"></script>
<script src="/assets/visibility.timer.js"></script>
<script src="/assets/bootstrap-switch.js"></script>
<script>
    $(document).ready(function () {

        var tablesort = new Tablesort($('#proxies')[0]);

        function showHideSpeed() {
            if (typeof(this.orientation) === "undefined" || window.orientation == -90 || window.orientation == 90) {
                $('#proxies').removeClass('portrait');
            } else {
                $('#proxies').addClass('portrait');
            }
        }

        function refreshProxyList() {
            $('#proxies tbody').load('/proxies?list-only=True', function () {
                tablesort.refresh();
            });
        }

        $(window).bind('orientationchange', function () {
            showHideSpeed();
        });

        $('#proxies-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/proxies/enable');
            } else {
                $.post('/proxies/disable');
            }
        });

        $('#tcp-scrambler-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/tcp-scrambler/enable');
            } else {
                $.post('/tcp-scrambler/disable');
            }
        });

        $('#youtube-scrambler-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/youtube-scrambler/enable');
            } else {
                $.post('/youtube-scrambler/disable');
            }
        });

        $('#china-shortcut-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/china-shortcut/enable');
            } else {
                $.post('/china-shortcut/disable');
            }
        });

        $('#direct-access-switch').on('switch-change', function (e, data) {
            if (data.value) {
                $.post('/direct-access/enable');
            } else {
                $.post('/direct-access/disable');
            }
        });

        $('#proxies-dialog-save').click(function() {
            $('#proxies-dialog form').submit();
        });


        $('#proxies-dialog form').submit(function (e) {
            e.preventDefault();
            var newConfig = {
                goagent_enabled: $('#goagent-public-servers-switch').bootstrapSwitch('status'),
                ss_enabled: $('#ss-public-servers-switch').bootstrapSwitch('status')
            };
            $.post('/public-servers/config/update', newConfig);
            $('#proxies-dialog').modal('hide');
        });


        showHideSpeed();
        refreshProxyList();
        Visibility.every(1000, refreshProxyList);
    });
</script>
</body>
</html>