<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-question-sign"></span>
                {{ _('HTTP via Proxies', '[翻墙] HTTP') }}
                <span class="pull-right">
                {% if alive_http_proxies_count %}
                <span class="label label-success">{{ alive_http_proxies_count }}</span>
                {% endif %}
                {% if died_http_proxies_count %}
                <span class="label label-danger">{{ died_http_proxies_count }}</span>
                {% endif %}
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <span class="glyphicon glyphicon-cloud-download"></span>
            {{ total_rx }}
            <span class="glyphicon glyphicon-cloud-upload"></span>
            {{ total_tx }}
        </div>
    </div>
</div>